<div class="input-container">
    <h3>Register</h3>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <br>
    <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
            Name is required.
    </div>
    <br>
    <mat-form-field>
            <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
    <br>
    <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
            Enter your email.
        </div>
        <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
            Enter valid email.
    </div>
    <br>
    <mat-form-field>
            <input matInput placeholder="password" formControlName="password">
    </mat-form-field>
    <br>
    <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.required">
            Password is required.
    </div>
    <br>
    <button mat-stroked-button type="submit" color="accent">Register</button>
    </form>

</div>

<!--
<div>
    <h1>{{title}}</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" formControlName="name">
            <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
                    Name is required.
                </div>
            </div>
        

        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input class="form-control" type="text" formControlName="email">
            <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
                Enter your email.
            </div>
            <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
                Enter valid email.
            </div>
        </div>

        <div class="form-group">
                <label for="inputPassword">Password</label>
                <input class="form-control" type="text" formControlName="password">
                <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.required">
                    Password is required.
                </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">Register</button>
        </div>
    </form>
</div>
-->